html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0
}

ol,ul {
list-style:none
}

h3 {
font-size:16px;
font-weight:700;
line-height:30px;
border-bottom:1px dashed #898f8f;
margin:0
}

:focus {
outline:0
}

.clear {
clear:both
}

body {
background:#8f8f8f;
font-size:14px;
vertical-align:middle;
line-height:1em;
font-family:Verdana,Tahoma,Lucida Grande,Arial,sans-serif;
overflow-x:hidden;
margin:0;
padding:0
}

.smaller {
font-size:12px;
font-weight:700
}

#wrapper {
background:url(../images/bg.png);
-moz-border-radius:5px;
-webkit-border-radius:5px;
color:#2a2a2a;
width:920px;
border:1px solid #ddd;
margin:10px auto;
padding:10px 15px
}

a,a:visited {
color:#333;
text-decoration:none
}

.topnav {
height:28px;
border-top:1px solid #898f8f;
border-bottom:1px solid #898f8f;
position:relative;
z-index:2;
margin:0;
padding:2px 0 1px
}

.topnav ul {
float:left;
list-style:none;
margin:0;
padding:0
}

.topnav li {
float:left;
list-style:none;
font-weight:700;
text-transform:uppercase;
margin:0;
padding:0
}

.topnav ul li {
list-style:none;
border-right:1px solid #898f8f;
filter:alpha(opacity=90);
-moz-opacity:.9;
opacity:.9;
margin:0 3px 0 0;
padding:0
}

.topnav li ul {
z-index:9999;
width:146px;
position:absolute;
height:auto;
border-top:1px solid #898f8f;
margin:0;
padding:0
}

.topnav li a,.topnav li a:link,.topnav li a:visited {
display:block;
margin:0;
padding:6px 12px
}

.topnav li a:hover,.topnav li a:active,.topnav .current_page_itema {
background:#52686f;
color:#fff;
display:block;
text-decoration:none;
border-bottom:none;
-moz-border-radius:0 0 0 10px;
border-radius:0 0 0 10px;
-webkit-transition:all .15s linear;
transition:all .15s linear;
margin:0;
padding:6px 12px
}

.topnav li li a,.topnav li li a:link,.topnav li li a:visited {
background:#f7f3ed;
color:#111;
float:none;
width:120px;
border:1px solid #898f8f;
border-top:none;
margin:0;
padding:6px 12px
}

.topnav li li a:hover,.topnav li li a:active {
background:#52686f;
color:#fff;
padding:6px 12px
}

.topnav li ul ul {
margin:-29px 0 0 144px
}

.topnav li:hover ul ul,.topnav li ul,.topnav li:hover ul ul ul,.topnav li .sfhover ul ul,.topnav li .sfhover ul ul ul {
left:-999em
}

.topnav li:hover ul,.topnav li li:hover ul,.topnav li li li:hover ul,.topnav li .sfhover ul,.topnav li li .sfhover ul,.topnav li li li .sfhover ul {
left:auto
}

.topnav li:hover,.topnav li.sfhover {
position:static
}

.topnav .left a {
margin:0;
padding:0 5px
}

.menunav {
border-bottom:2px solid #252525;
margin:0 0 10px
}

.menunav li {
font-weight:400
}

#searchform {
line-height:28px;
margin:0;
padding:0
}

.searchinput {
width:160px;
background:#fff;
color:#333;
border:1px solid #e0e0e0;
margin:0;
padding:4px
}

.searchinput:focus {
border:1px solid #191919
}

.searchsubmit {
width:35px;
background:#252525;
border:1px solid #ddd;
color:#FFF;
font-weight:700;
margin:0;
padding:1px 0 2px
}

#header {
height:90px;
background:url(../images/title_bg.jpg) no-repeat 0 0;
position:relative;
margin:2px 0 0;
padding:2px 0 0
}

.toplink {
position:absolute;
right:5px;
top:5px
}

.top_content {
border:1px dashed #898f8f;
background:url(../images/audio.png) no-repeat 5px 0;
padding:5px 5px 7px 40px
}

.toplink ul li {
float:left;
padding:0 5px
}

.logo {
margin:30px 0 0;
padding:0
}

.logo h1 {
font-size:20px;
position:absolute;
left:150px;
top:25px;
line-height:25px
}

.logo .description {
font-weight:400;
font-size:12px;
position:absolute;
left:150px;
top:55px
}

#content {
float:left;
width:673px;
color:#555;
position:relative;
z-index:1;
margin:10px 0 0;
padding:0
}

.browse {
border:1px solid #898f8f;
color:#333;
line-height:18px;
margin:0 1px;
padding:3px
}

#sidebar {
float:right;
width:240px;
margin:10px 0 0;
padding:0
}

#sidebar .box {
color:#333;
line-height:18px;
position:relative;
z-index:2;
padding:0
}

.singlewidget {
border:1px solid #898f8f;
margin:0 0 10px;
padding:0
}

.singlewidget h3 {
position:relative;
z-index:1
}

.singlewidget .box {
margin:0 5px
}

.singlewidget ul {
list-style-type:none;
list-style-position:outside;
overflow:hidden;
margin:0;
padding:0
}

.singlewidget ul li {
border-bottom:1px solid #ddd;
position:relative;
overflow:hidden;
white-space:nowrap;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
margin:0 0 -2px;
padding:10px 0
}

.singlewidget .right_count {
position:absolute;
right:0;
font-size:12px;
color:#888
}

.singlewidget .title {
position:absolute;
left:0;
width:200px;
overflow:hidden;
white-space:nowrap;
-o-text-overflow:ellipsis;
text-overflow:ellipsis
}

.doublewidget {
border:1px solid #898f8f;
overflow:hidden;
margin:0 0 10px;
padding:0
}

.doublewidget .box {
margin:0 1px
}

.doublewidget ul li {
display:inline;
float:left;
overflow:hidden;
width:110px;
text-align:left;
border:1px solid #f7f3ed;
border-bottom:1px solid #ddd;
margin:0;
padding:5px 0 5px 5px
}

#sidebar h3 {
color:#252525;
font-weight:700;
border-bottom:1px solid #aaa;
margin:0;
padding:0 0 0 15px
}

#footer {
border-top:1px solid #898f8f;
border-bottom:1px solid #898f8f;
margin:10px 0;
padding:5px 0
}

#footer .footwidget {
position:relative
}

#footer h3 {
color:#191919;
font-size:14px;
position:absolute;
left:0;
top:0;
width:60px;
font-weight:700;
border:none
}

#footer .box {
margin:0 0 0 60px
}

#footer ul {
overflow:hidden;
line-height:20px;
margin:0 0 0 5px;
padding:0
}

#footer li {
float:left;
line-height:15px;
font-size:12px;
border-left:1px solid #898f8f;
margin:2px 0 3px -1px;
padding:0 8px
}

.tracker img {
border:none;
margin:0;
padding:0
}

#bottom {
font-size:12px;
color:#333;
line-height:15px;
margin:10px 0 0;
padding:5px 0 0
}

#bottom .bright {
float:right;
margin:0;
padding:8px 0 0
}

#bottom .bleft {
float:left;
margin:0;
padding:8px 0 0
}

a,.doublewidget ul li a:hover {
text-decoration:none
}

.left,#bottom .tracker {
float:left
}

.close a {
float:right;
margin:0 10px 0 0;
padding:0 10px
}

.bulletin {
float:left;
height:23px;
color:#fff;
background:url(images/bulletin.gif) no-repeat;
min-height:23px;
overflow:hidden;
margin:0 0 0 20px
}

.bulletin li {
height:23px;
padding-left:25px
}

.lastest_comments ul {
list-style-type:none;
list-style-position:outside;
margin:0;
padding:0
}

.lastest_comments ul li {
position:relative;
height:47px;
padding:5px 0
}

.lastest_comments ul .last {
position:relative;
height:35px;
padding:2px 0
}

.comment_recent_navi {
width:100%;
text-align:left;
overflow:hidden;
margin:5px 0;
padding:0
}

.comment_recent_navi a {
text-decoration:none;
color:#888;
border:1px solid #ccf;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin:0;
padding:3px 5px
}

.comment_recent_navi a:hover {
border:1px solid #3c8266;
background:#DDD;
text-decoration:none;
-webkit-transition:all .25s linear;
transition:all .25s linear
}

.lastest_comments li .avatar {
position:absolute;
left:0;
background:#f7f3ed;
border:1px solid #ddd;
padding:2px
}

.lastest_comments li .avatar img {
width:40px;
height:40px;
border:1px solid #ddd
}

.lastest_comments li .fn {
position:absolute;
left:47px;
top:8px;
overflow:hidden;
white-space:nowrap;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
width:100px;
font-weight:700;
color:#555;
margin:0 0 0 5px
}

.lastest_comments li .date {
position:absolute;
right:5px;
top:8px;
text-align:right;
color:#999;
font-size:10px
}

.lastest_comments li .txt {
position:absolute;
left:47px;
top:32px;
width:180px;
overflow:hidden;
white-space:nowrap;
-o-text-overflow:ellipsis;
text-overflow:ellipsis;
margin:0 0 0 5px
}

.lastest_comments li .txt a {
color:#666
}

.readerwall {
font-size:12px;
overflow:visible;
padding:5px 0 5px 5px
}

.readerwall li {
float:left;
list-style:none;
border:1px solid #DFDFDF;
-moz-border-radius:2px;
-khtml-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
margin:0;
padding:3px
}

.readerwall .active-bg {
height:2px;
font-size:0;
background:#DFDFDF;
margin:2px 0
}

.readerwall .active-degree {
background:red;
height:2px;
font-size:0
}

.readerwall a {
display:inline-block;
width:36px;
height:36px;
position:relative;
text-decoration:none;
padding:0
}

.readerwall .pic {
position:absolute;
top:0;
left:0;
z-index:100;
width:36px;
height:36px;
display:block;
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility:hidden;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
border-radius:4px;
text-indent:-9999px
}

.readerwall .num {
position:absolute;
top:0;
left:0;
z-index:99;
width:35px;
height:35px;
line-height:36px;
color:#E02523;
font-size:18px;
font-weight:700;
display:block;
background:#fff;
text-align:center;
border:#bbb 1px solid;
box-shadow:0 0 4px #ccc;
-webkit-transform:rotateY(-180deg);
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility:hidden;
transition:all .4s ease-in-out;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
border-radius:4px
}

.readerwall .name {
position:absolute;
top:0;
left:0;
color:#333;
display:block;
width:1px;
height:1px;
overflow:hidden;
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility:hidden;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
text-align:center
}

.readerwall a:hover .pic {
z-index:100;
-webkit-transform:rotateY(180deg);
-moz-transform:rotateY(180deg);
-ms-transform:rotateY(180deg);
border-color:#eee
}

.readerwall a:hover .num {
z-index:101;
-webkit-transform:rotateY(0deg);
-moz-transform:rotateY(0deg);
-ms-transform:rotateY(0deg);
opacity:.8
}

.readerwall a:hover .name {
top:-28px;
left:-38px;
z-index:101;
height:20px;
line-height:20px;
overflow:hidden;
background:#fff;
border-radius:2px;
box-shadow:0 0 3px #000;
min-width:100px;
opacity:.8;
padding:4px 6px
}

.widget_calendar h3 {
display:none
}

#wp-calendar {
width:100%
}

#wp-calendar #today {
background:#52686f;
color:#8DDB6B;
font-weight:700
}

#wp-calendar tbody a {
font-weight:700;
color:#75C6E5
}

#wp-calendar caption {
font:14px 'Microsoft Yahei',arial,SimSun,sans-serif;
color:#52686f;
font-weight:700;
letter-spacing:-.05em;
text-align:center;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
padding:5px 0
}

#wp-calendar th,#wp-calendar td {
text-align:center
}

#wp-calendar tbody td {
border:1px solid #E9F0F4;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px
}

#wp-calendar tbody td.pad {
border:0 none
}

#wp-calendar th {
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#52686f;
color:#fff
}

#wp-calendar td#prev {
text-align:left;
padding-top:5px
}

#wp-calendar td#next {
text-align:right;
padding-top:5px
}

.list ul {
border:1px solid #898f8f;
overflow:hidden;
margin:5px 1px 0;
padding:0
}

.list ul li {
border-bottom:1px dashed #aaa;
z-index:1;
position:relative;
margin:0 0 -1px;
padding:10px 5px 10px 7px
}

.list ul li a:hover {
color:#660a11
}

.list ul li.odd {
background:#f0ece6;
z-index:0
}

.list .right_time {
position:absolute;
right:10px
}

.list .middle_title {
position:absolute;
left:30px
}

.list .left_number {
position:absolute;
width:20px;
text-align:right;
left:0
}

.postmeta {
font-size:12px;
margin:5px 1px 0;
padding:0 0 0 5px
}

.entry {
line-height:1.8em;
border:1px solid #898f8f;
overflow:hidden;
position:relative;
margin:10px 1px 0;
padding:10px
}

.entry p {
padding-bottom:10px;
color:#000;
margin:0 0 .6em
}

.entry strong {
font-weight:700
}

.entry h1 {
font-size:18px;
font-weight:700;
padding:0 0 2px
}

.entry h2 {
font-size:16px;
color:#00939A;
font-weight:700;
border-bottom:1px solid #00939A;
overflow:hidden;
padding:0 0 2px
}

.entry h3 {
font-size:14px;
font-weight:700;
border-bottom:1px dashed #898f8f;
padding:0 0 2px
}

.entry h4 {
font-size:12px;
font-weight:700;
padding:0 0 2px
}

.entry a {
color:#00F
}

.entry img {
-moz-box-shadow:1px 7px 12px #000;
-webkit-box-shadow:1px 7px 12px #000;
box-shadow:1px 7px 12px #000
}

.entry ul {
padding-bottom:10px;
list-style:square inside
}

.entry ol {
padding-bottom:10px;
list-style:decimal inside
}

.entry li {
font-size:12px;
line-height:15px;
color:#4C4C4C;
padding:2px 0 2px 10px
}

.entry .single_content {
z-index:1;
overflow:hidden
}

blockquote {
background:#F6F5F5;
color:#333;
clear:both;
border-left:3px solid #BFBBBB;
margin:0 0 10px;
padding:2px 10px
}

code {
color:#444;
font:11px/17px tahoma, arial, sans-serif;
display:block
}

blockquote p {
font-size:11px;
line-height:15px;
margin:5px 0;
padding:5px 0
}

blockquote li {
font-size:11px;
line-height:15px;
color:#369;
padding:2px 0 2px 10px
}

blockquote a {
color:#0080CA;
text-decoration:underline
}

blockquote a:hover {
color:#039
}

.tag {
line-height:15px;
padding:10px
}

.related_post {
margin:5px 0 0;
padding:0
}

.related_post h3 {
font-size:14px;
margin:0 0 5px;
padding:0
}

img.centered {
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
padding:0
}

img.alignnone {
display:inline;
margin:0 0 10px;
padding:0
}

img.alignright {
display:inline;
margin:0 0 10px 10px;
padding:0
}

img.alignleft {
display:inline;
margin:0 10px 10px 0;
padding:0
}

.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
margin-bottom:10px
}

.alignright {
float:right;
margin:0 0 10px 10px
}

.alignleft {
float:left;
margin:0 10px 10px 0
}

.wp-caption {
background:#f7f7f7;
text-align:center;
border:1px solid #e6e6e6;
padding:4px 0 5px
}

.wp-caption img {
border:0;
margin:0 0 5px;
padding:0
}

.wp-caption p.wp-caption-text {
font-size:11px;
font-weight:400;
line-height:12px;
margin:0;
padding:0
}

.navigation {
margin:5px 0;
padding:0
}

.comments-box {
border:1px solid #898f8f;
margin:15px 2px 0;
padding:5px
}

.comments-box img {
vertical-align:middle
}

.comments-box .comments-title {
color:#333;
letter-spacing:0;
border-bottom:1px solid #aaa;
font-size:16px;
font-weight:700;
margin:0;
padding:5px 0 10px
}

.comments-title a {
color:#903
}

.comments-box h3 {
color:#333;
letter-spacing:0;
border-bottom:1px solid #aaa;
margin:0;
padding:5px 0 10px
}

#comment-list .box {
padding:10px 10px 1px
}

#comment-list .pagination {
height:39px;
padding-bottom:0;
margin-left:59px;
margin-top:-9px
}

.no-comment {
padding-bottom:10px
}

.comment {
clear:both;
position:relative;
margin:10px 0 0
}

.comment-body {
position:relative;
min-height:50px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border:1px solid #aaa;
margin:10px 0 0 50px;
padding:5px
}

.comment-author img {
position:absolute;
left:-52px;
width:40px;
height:40px;
background:#f7f3ed;
border:1px solid #ddd;
padding:2px
}

.comment-author .admin {
position:absolute;
left:-52px;
top:52px;
width:44px;
text-align:center;
font-size:12px;
font-weight:700;
color:red;
background:transparent;
border:none
}

.comment-author .handsome {
position:absolute;
left:-52px;
top:52px;
width:44px;
text-align:center;
font-size:12px;
font-weight:700;
color:green;
background:transparent;
border:none
}

.comment-body .fn {
font-weight:700;
color:#555;
max-width:200px;
overflow:hidden;
white-space:nowrap;
-o-text-overflow:ellipsis;
text-overflow:ellipsis
}

.comment-body .fn,.comment-body em,.comment-body .says,.comment-meta {
float:left;
margin-right:5px;
line-height:25px
}

.comment-meta {
float:right;
font-size:12px;
margin:0 60px 5px 0
}

.comment-meta a {
color:#777
}

.comment-body p {
clear:both;
overflow:hidden;
line-height:25px;
border:1px dashed #aaa;
word-wrap:break-word;
margin:0 0 5px;
padding:5px
}

.reply {
clear:both;
position:absolute;
top:4px;
right:5px
}

.floor {
position:absolute;
top:10px;
right:350px;
font-weight:700
}

.reply a {
border:1px solid #3c8266;
color:#356aa0;
display:block;
width:35px;
height:20px;
line-height:20px;
text-align:center;
text-decoration:none;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:2px
}

.reply a:hover {
text-decoration:none;
color:#fff;
background:#52686f;
border:1px solid #3c8266;
-webkit-transition:all .25s linear;
transition:all .25s linear
}

.children .comment {
margin:0 0 0 50px
}

.children .comment-author img {
position:absolute;
left:-42px;
width:30px;
height:30px
}

.children .comment-author .handsome {
position:absolute;
left:-42px;
top:42px;
width:34px;
text-align:center;
font-size:12px;
font-weight:700;
color:green;
border:none;
background:transparent
}

.children .comment-author .admin {
position:absolute;
left:-42px;
top:42px;
width:34px;
text-align:center;
font-size:12px;
font-weight:700;
color:red;
border:none;
background:transparent
}

.children .children .comment {
margin:0 0 0 42px
}

.comment #respond {
border:1px solid #aaa;
-moz-border-radius:6px;
-webkit-border-radius:6px;
margin:10px 0 10px 50px;
padding:10px
}

.comment #respond-form textarea {
width:99%;
max-width:99%;
min-width:99%
}

.comment #respond-form .cancel {
display:inline-block
}

#respond {
border:1px solid #aaa;
position:relative;
margin:20px 2px 0;
padding:5px 10px 10px
}

#respond h3 {
border-bottom:1px solid #ccc;
margin:0;
padding:5px 0 10px
}

#respond p {
color:#777;
line-height:1.4em;
margin:10px 0 0
}

.cancel-comment-reply {
padding:5px 0 0
}

#respond .cancel-comment-reply {
position:absolute;
top:5px;
right:10px
}

#commentform {
margin-top:5px
}

#commentform input {
border:1px solid #aaa
}

#commentform .author {
color:#333;
background:url(../images/respond.png) no-repeat 2px 2px;
padding:3px 3px 3px 20px
}

#commentform .email {
color:#333;
background:url(../images/respond.png) no-repeat 2px -18px;
padding:3px 3px 3px 20px
}

#commentform .url {
color:#333;
background:url(../images/respond.png) no-repeat 2px -38px;
padding:3px 3px 3px 20px
}

#commentform textarea {
width:95%;
height:100px;
border:1px solid #aaa;
background:url(../images/bg.png);
padding:2px
}

#commentform .submit {
width:100px;
color:#333;
font-weight:700;
border:1px solid #666;
background:#e5e0da;
margin:0;
padding:4px
}

#commentform .submit:hover {
background:#333;
border:1px solid #191919;
text-decoration:underline;
color:#f7f3ed
}

.children .comment-body,.comment .comment #respond {
margin-left:42px
}

#commentform input:focus,#commentform textarea:focus {
border:1px solid #666
}

a:hover,.entry a:hover {
text-decoration:underline
}

.topnav li li,.entry a img {
border:none
}

#sidebar .box a,.lastest_comments li .fn a,.entry li a {
color:#333
}

.doublewidget ul li:hover,.comment-body p:hover {
border:1px dashed #c00
}

.right,.topad,#comment-list h2 .to-respond {
float:right
}

#top,form,.doublewidget ul,.lastest_comments,.entry li ul,.related_post ul {
margin:0;
padding:0
}

.postmeta a,.cancel-comment-reply a {
color:#000
}

.entry h5,.entry h6 {
font-size:10px;
font-weight:700;
padding:0 0 2px
}